@import url('https://fonts.googleapis.com/css?family=Lato:100,900');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.app__footer {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  padding-bottom: .2em;
}

.text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #fff;
}

@media screen and (min-width: 885px) {
	.App {
		width: 100%;
	}
}

@media screen and (min-width: 886px) and (max-width: 2000px) {
	.App {
		width: 100%;
	}
}

@media screen and (min-width: 2001px) {
	.App {
		width: 50%;
		margin: 0 auto;
	}
}
