@import url('https://fonts.googleapis.com/css?family=Lato:100');

ul {
	list-style: none;
	padding-left: 0px;
}

hr {
	border: 0;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(left, #ccc, #a74b4e, #ccc);
}

.blog__item {
	padding-left: 1em;
	padding-right: 1em;
}

.blog__heading, .blog__content, .blog__date, .blog__construction {
	text-align: left;
	font-family: 'Lato', sans-serif;
}

.blog__construction {
	text-align: center;
	border-style: dashed;
	border-width: thin;
	width: 80%;
	margin: auto;
}

.blog__date {
	color: #a74b4e;
}

.blog__heading {
	font-size: 2em;
	color: #a74b4e;
}

.blog__content {
	font-size: 1.2em;
	font-weight: 600;
	color: #80808054;
}

@media screen and (min-width: 500px) {
	hr {
		width: 100%;
	}
	.blog__item {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
}