.page-container {
	height: 400px;
	width: 100%;
}

.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url('../../img/erikaSmall.jpg') no-repeat;
	background-size: cover;
	display: table;
	top: 0;
}

@media screen and (min-width: 200px) and (max-width: 660px){
	.intro {
		height: 100%;
		width: 100%;
		margin: auto;
		background: url('../../img/erikaSmaller.jpg') no-repeat;
		background-size: cover;
		display: table;
		top: 0;
	}
}

@media screen and (min-width: 720px) {
	.intro {
		height: 100%;
		width: 100%;
		margin: auto;
		background: url('../../img/erikaBig.jpg') no-repeat;
		background-size: cover;
		display: table;
		top: 0;
	}
}

.intro .inner {
	display: tabel-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content {
	max-width: 90%;
	margin: 0 auto;
	text-align: left;
}

.about {
	display: flex;
}

.about__content{
	font-family: 'Lato', sans-serif;
    width: 90%;
    text-align: right;
    margin: auto;
    font-size: 1.2em;
    font-weight: 600;
}
.content h1 {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 3.5em;
	text-shadow: 0px 0px 300px #000;
	width: 60%;
}

@media screen and (min-width: 400px) {
	.content h1 {
		font-size: 3em;
	}
}

.icons {
	display: flex;
	justify-content: center;
	flex-flow: column;
}

.btn {
	font-family: 'Open Sans', sans-serif;
	color: 	#fff;
	padding: .5em .5em;
	border: none;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 1em;
	margin-bottom: 1em;
}

.btn.selected {
    background-color: gray;
    opacity: .7;
    width: fit-content;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
}

.isDisabled:hover {
  color: currentColor;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
}