@import url('https://fonts.googleapis.com/css?family=Lato:100');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background-color: #b87272;
	display: table;
	top: 0;
}

.intro .inner {
	display: tabel-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content {
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
}

.about {
	display: flex;
}

.about__content{
	font-family: 'Lato', sans-serif;
    width: 90%;
    text-align: right;
    margin: auto;
    font-size: 1.2em;
    font-weight: 600;
}
.content h1 {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 3.5em;
	text-shadow: 0px 0px 300px #000;
}

@media screen and (min-width: 500px) {
	.content h1 {
		font-size: 4em;
	}
}

.icons {
	display: flex;
	justify-content: center;
}

.btn {
	font-family: 'Open Sans', sans-serif;
	border-radius: 9px;
	color: 	#a74b4e;
	padding: .5em .5em;
	border: solid #a74b4e .2em;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 1em;
	margin-bottom: 1em;
}

.btn:hover {
	color: #fff;
	border-color: #fff;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
}

.isDisabled:hover {
  color: currentColor;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
}